<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Szybka edycja</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{ form_start(form, {'attr': {'id': "fast-form"}}) }}
        <div class="modal-body">

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.publishedAt) }}
                {{ form_widget(form.publishedAt, {'attr': {'class': 'form-control', 'novalidate': 'novalidate' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.enabled) }}
                {{ form_widget(form.enabled, {'attr': {'class': 'form-control', 'novalidate': 'novalidate' }}) }}
            </div>

            <button class="btn">{{ button_label|default('Zapisz') }}</button>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="fast-edit-save btn btn-primary">Zapisz</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>



