{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>
    <a class="btn btn-lg btn-info "href="{{ path('news_index') }}">Powrót do listy</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Tytuł</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Treść</th>
                <td>{{ news.content }}</td>
            </tr>

            <tr>
                <th>Utworzono</th>
                <td>{{ news.createdAt ? news.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ostatnia aktualizacja</th>
                <td>{{ news.updatedAt ? news.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Opublikowano</th>
                <td>{{ news.PublishedAt ? news.PublishedAt|date('Y-m-d') : '' }}</td>
            </tr>

            <tr>
                <th>Aktywny</th>
                <td>{{ news.enabled ? 'Tak' : 'Nie' }}</td>
            </tr>
            <tr>
                <th>Zdjęcie</th>
                <td><img class="img-thumbnail" src="{{ asset('uploads/images/' ~ news.image) }}"/> </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-lg btn-success" href="{{ path('news_edit', {'id': news.id}) }}">Edytuj</a>

{% endblock %}
